<template>
  <div>
    <h1>{{ code }}</h1>
    <h3>Strona nie istnieje</h3>
    <router-link :to="{ name: 'form' }">Powrót na stronę główną</router-link>
  </div>
</template>
<script>
export default {
  props: {
    code: {
      type: String,
      required: true
    }
  }
}
</script>