<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<?= $this->doctype() ?>
<html lang="pl">
<head>
    <meta charset="utf-8">

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <link rel="apple-touch-icon" href="<?= $this->basePath(); ?>/img/favicon.ico">
    <link rel="icon" type="image/png" href="<?= $this->basePath(); ?>/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#333547">
    <meta name="theme-color" content="#333547">
</head>
<body>
<?= $this->content ?>
</body>
</html>
