<template>
    <b-container fluid class="mt-5">
      <b-row>
        <b-col>
          <h1>Client {{ $route.params.id }}</h1>
          <b-table-lite :items="[clientData]"></b-table-lite>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>

import UserService from "@/services/UserService";

export default {
  data() {
    return {
      clientData: {}
    }
  },
  methods: {

  },
  created() {
    UserService.getUserById(this.$route.params.id)
        .then((res) => {
          this.clientData = res.data.data;
        })
        .catch((e) => {
          console.log(e);
        })
  }
}
</script>

<style>
</style>
