<template>
    <b-container class="mt-5">
      <b-row>
        <b-col>
          <b-card bg-variant="light">
            <b-form @submit="onSubmit" novalidate :validated="userForm.isValidated">
            <b-form-group
                label-cols-lg="3"
                label="Dane identyfikacyjne"
                label-size="lg"
                label-class="font-weight-bold pt-0"
                class="mb-0"
            >

              <b-form-group
                  label="Status prawny:"
                  label-cols-sm="4"
                  label-align-sm="right"
                  class="mb-0"
                  v-slot="{ ariaDescribedby }"
              >
                <b-form-radio-group
                    class="pt-2"
                    v-model="userForm.state.selected"
                    :options="userForm.state.options"
                    :aria-describedby="ariaDescribedby"
                ></b-form-radio-group>
              </b-form-group>

              <b-form-group
                  :label="userForm.state.selected === 'client' ? 'Imię i nazwisko:' : 'Firma:'"
                  label-for="username"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-form-input required id="username" v-model="userForm.username.value" type="text"></b-form-input>
              </b-form-group>

              <b-form-group
                  label="Ulica, nr domu::"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-row>
                  <b-col md="9" class="mb-2 mb-md-0">
                    <b-form-input type="text" v-model="userForm.street.value"></b-form-input>
                  </b-col>
                  <b-col>
                    <b-form-input type="text" v-model="userForm.houseNumber.value"></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group
                  label="Miejscowość, kod pocztowy:"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-row>
                  <b-col md="9" class="mb-2 mb-md-0">
                    <b-form-input type="text" v-model="userForm.city.value"></b-form-input>
                  </b-col>
                  <b-col>
                    <b-form-input type="text" v-model="userForm.postalCode.value"></b-form-input>
                  </b-col>
                </b-row>

              </b-form-group>

              <b-form-group
                  label="Województwo:"
                  label-for="voivodeship"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-form-select id="voivodeship" v-model="userForm.voivodeship.selected" :options="userForm.voivodeship.options"></b-form-select>
              </b-form-group>

              <b-form-group
                  label="Telefon:"
                  label-for="phone"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-row>
                  <b-col>
                    <b-form-input type="text" v-model="userForm.phonePrefix.value"></b-form-input>
                  </b-col>
                  <b-col md="9" class="mt-2 mt-md-0">
                    <b-form-input type="tel" v-model="userForm.phoneNumber.value"></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group
                  label="Email:"
                  label-for="email"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-form-input required id="email" type="email" v-model="userForm.email.value"></b-form-input>
              </b-form-group>

              <b-form-group
                  v-if="userForm.state.selected === 'client'"
                  label="Pesel:"
                  label-for="pesel"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-form-input :required="userForm.state.selected !== 'company'" id="pesel" type="text" v-model="userForm.pesel.value"></b-form-input>
              </b-form-group>
              <b-form-group
                  v-else
                  label="Nip:"
                  label-for="nip"
                  label-cols-sm="4"
                  label-align-sm="right"
              >
                <b-form-input :required="userForm.state.selected === 'company'" id="nip" type="text" v-model="userForm.nip.value"></b-form-input>
              </b-form-group>
              <div class="d-flex justify-content-end">
                <b-btn>Anuluj</b-btn>
                <b-btn class="ml-1" type="submit" variant="primary">Zapisz</b-btn>
              </div>
            </b-form-group>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>

import UserService from "@/services/UserService";
import VoivodeshipService from "@/services/VoivodeshipService";

export default {
  data() {
    return {
      userForm: {
        isValidated: null,
        username: {
          value: null
        },
        state: {
          selected: 'client',
          options: [
            { text: 'Klient indywidualny', value: 'client' },
            { text: 'Firma', value: 'company' },
          ]
        },
        voivodeship: {
          selected: null,
          options: null
        },
        street: {
          value: null
        },
        houseNumber: {
          value: null
        },
        city: {
          value: null
        },
        postalCode: {
          value: null
        },
        phonePrefix: {
          value: null
        },
        phoneNumber: {
          value: null
        },
        email: {
          value: null
        },
        pesel: {
          value: null
        },
        nip: {
          value: null
        },
      }
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()

      if (!event.target.checkValidity()) {
        this.userForm.isValidated = true;
        return;
      }

      UserService.postUser({
        name: this.userForm.username.value,
        company: this.userForm.state.selected === 'company',
        voivodeship: this.userForm.voivodeship.selected,
        street: this.userForm.street.value,
        houseNumber: this.userForm.houseNumber.value,
        city: this.userForm.city.value,
        postalCode: this.userForm.postalCode.value,
        phonePrefix: this.userForm.phonePrefix.value,
        phoneNumber: this.userForm.phoneNumber.value,
        email: this.userForm.email.value,
        pesel: this.userForm.state.selected === 'company' ? null : this.userForm.pesel.value,
        nip: this.userForm.state.selected === 'company' ? this.userForm.nip.value : null,
      }).then((res) => {
        alert(res.status);
      })
    },
  },
  created() {
    VoivodeshipService.getVoivodeship().then(res => {
      const voivodeships = [
        {value: null, text: 'Województwo', disabled: true}
      ];

      res.data.data.forEach((voivodeship) => {
        voivodeships.push({
          value: voivodeship,
          text: voivodeship
        })
      })

      this.userForm.voivodeship.options = voivodeships;
    })
  }
}
</script>

<style>
</style>
